POSTGRES_USER=market_pulse
POSTGRES_PASSWORD=dev_password
POSTGRES_DB=market_pulse
POSTGRES_LOCAL_PORT=5555

MONGO_USER=market_pulse
MONGO_PASSWORD=dev_password
MONGO_LOCAL_PORT= 6666

REDIS_PASSWORD=dev_password
REDIS_LOCAL_PORT= 7777

PGADMIN_USER=admin@market-pulse.com
PGADMIN_PASSWORD=dev_password
PGADMIN_LOCAL_PORT=8090

MONGO_EXPRESS_USER=market_pulse
MONGO_EXPRESS_PASSWORD=dev_password
MONGO_EXPRESS_LOCAL_PORT=8091
